.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.form {
  margin-top: 8px;
}
.submit-button {
  margin-top: 24px;
  margin-bottom: 16px;
}
