.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  margin-bottom: 24px;
}

.text-field {
  margin-bottom: 16px;
}

.analysis-container {
  margin-top: 24px;
  flex-grow: 1;
  overflow-y: auto;
}

.analyze-button {
  align-self: flex-start;
  margin-bottom: 16px;
}
